.carts-content-header {
  padding: 12px;
  border-bottom: 1px solid $primary;
}

.cart-table {
  thead tr {
    text-align: center;
    vertical-align: middle;
  }
  tbody tr {
    text-align: center;
    vertical-align: middle;
  }
}
