.home-banner {
  background-image: url('https://images.unsplash.com/photo-1614548539924-5c1f205b3747?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text {
  font-size: 76px;
  font-weight: lighter;
}

.home-button {
  font-size: 54px;
  text-align: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    system-ui,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.home-button:before {
  background-color: #000000;
  content: '';
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}

.home-button:hover:before {
  background-color: #000000;
  width: 100px;
}
