:root {
  --cr-main-1: #648694;
  --cr-main-2: #173694;
  --cr-1: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 20%);
  --cr-2: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 35%);
  --cr-3: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 50%);
  --cr-4: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 65%);
  --cr-5: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 80%);
}

.blobs {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  filter: blur(140px);
  overflow: hidden;
  background: rgb(249, 255, 225);
}

.blob {
  width: max(240px, 28vw);
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  will-change: transform; /* 優化效能 */
}

/* 顏色分配 */
.blob:nth-child(1) {
  background: var(--cr-main-1);
}
.blob:nth-child(2) {
  background: var(--cr-main-2);
}
.blob:nth-child(3) {
  background: var(--cr-1);
}
.blob:nth-child(4) {
  background: white;
}
.blob:nth-child(5) {
  background: var(--cr-3);
}
.blob:nth-child(6) {
  background: var(--cr-4);
}
.blob:nth-child(7) {
  background: var(--cr-2);
}
